.searchbar-container{
    position: relative;
}
.searchbar-container input {
    border: 1px solid var(--cultured);
    border-radius: 1rem;
    width: 100%;
    padding: 15px 40px 15px 15px;
}
.searchbar-container i {
    font-size: 1.2rem;
    position: absolute;
    top: 15px;
    right: 15px;
    color: var(--onyx);
    cursor: pointer;
}
.searchbar-container i:hover {
    color: var(--salmonPink);
}